body {
	background-color: #f1f1f1;
	color: white;
	text-align: center;
	line-height: 68.59px;
}

.row {
	height: 10vh;
}

.col-1 {
	height: 10vh;
	position: relative;
}

#centerboard {
	background-color: grey;
	height: 80vh;
	border: 2px solid white;
}

.green {
	background-color: green;
	opacity: 0.8;
	border: 2px solid white;
/*	background-size: cover;
	background-image: 
    linear-gradient(
      rgba(0, 255, 0, 0.7), 
      rgba(0, 255, 0, 0.7)
    ),
    url("../rightarrow.png");
    background-position: center;*/
}

.red {
	background-color: red;
	opacity: 0.8;
	border: 2px solid white;	
/*	background-size: cover;
	background-image: 
    linear-gradient(
      rgba(255, 0, 0, 0.7), 
      rgba(255, 0, 0, 0.7)
    ),
    url("../backward.png");
    background-position: center;*/
}

.yellow {
	background-color: goldenrod;
	opacity: 0.8;
	border: 2px solid white;	
/*	background-size: cover;
	background-image: 
    linear-gradient(
      rgba(255, 255, 0, 0.5), 
      rgba(255, 255, 0, 0.5)
    ),
    url("../goldbar.jpg");
    background-position: center;*/
}

.blue {
	background-color: blue;
	opacity: 0.8;
	border: 2px solid white;	
/*	background-size: contain;
	background-image: 
    linear-gradient(
      rgba(0, 0, 255, 0.5), 
      rgba(0, 0, 255, 0.5)
    ),
    url("../mart.jpg");
    background-position: center;*/
}

#star {
	max-height: 50%;
	max-width: 50%;
	z-index: 5;
	position: absolute;
	bottom: 0;
	right: 0;
}

.pIcon {
	max-height: 50%;
	max-width: 50%;
	overflow: hidden;
}

#diceboard {
	height: 40%;
	border-bottom: : 5px solid black;
}

#scoreboard {
	height: 50%;
	border-top: 5px solid black;
}

#dice__container--1 {
	background-color: teal;
	position: relative;
	border: 2px solid goldenrod;
	margin: 0 15px;
}

#dice__container--2 {
	background-color: teal;
	position: relative;
	border: 2px solid goldenrod;
	margin: 0 15px;
}

#rollbutton__container {
	background-color: purple;
	border: 2px solid goldenrod;
}

.dice__image {
	height: 50%;
	width: 43%;
	position: absolute;
	top: 25%;
	left: 27%;

}