body {
	background-color: #f1f1f1;
	text-align: center;
}

.row {
	height: 10vh;
}

/* =================================== Game Board =================================== */

#game-title {
	font-family: 'PT Sans Caption', sans-serif;
	margin: 5px 0 0 0;
	/*padding-top: 5px;*/
}

.rainbow__text {
  	/*background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);*/
  	background-image: linear-gradient(to left, blue, green, yellow, red);
  	-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gameboard__space {
	height: 10vh;
	position: relative;
	opacity: 0.8;
	border: 2px solid white;
	line-height: 68.59px;
	color: white;
}

#centerboard {
	background-color: grey;
	height: 80vh;
	border: 2px solid white;
	z-index: 2;
}

.green {
	background-color: green;
/*	background-size: cover;
	background-image: 
    linear-gradient(
      rgba(0, 255, 0, 0.7), 
      rgba(0, 255, 0, 0.7)
    ),
    url("../rightarrow.png");
    background-position: center;*/
}

.red {
	background-color: red;	
/*	background-size: cover;
	background-image: 
    linear-gradient(
      rgba(255, 0, 0, 0.7), 
      rgba(255, 0, 0, 0.7)
    ),
    url("../backward.png");
    background-position: center;*/
}

.yellow {
	background-color: goldenrod;
/*	background-size: cover;
	background-image: 
    linear-gradient(
      rgba(255, 255, 0, 0.5), 
      rgba(255, 255, 0, 0.5)
    ),
    url("../goldbar.jpg");
    background-position: center;*/
}

.blue {
	background-color: blue;
/*	background-size: contain;
	background-image: 
    linear-gradient(
      rgba(0, 0, 255, 0.5), 
      rgba(0, 0, 255, 0.5)
    ),
    url("../mart.jpg");
    background-position: center;*/
}

/* =================================== Game Pieces =================================== */

#star {
	max-height: 50%;
	max-width: 50%;
	z-index: 5;
	position: absolute;
	bottom: 0;
	right: 0;
}

.player__icon {
	max-height: 50%;
	max-width: 50%;
	border-radius: 10px;
}

/* =================================== Dice Board Section =================================== */

#diceboard {
	height: 40%;
	border-bottom: : 5px solid black;
}

.dice__container {
	background-color: teal;
	border: 2px solid goldenrod;
	margin: 0 15px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.dice__image {
	height: 150px;
	width: 150px;
	border-radius: 22px;
}

/* =================================== Roll Button Section =================================== */

#rollbutton__container {
	background-color: purple;
	border: 2px solid goldenrod;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}

#turnCounter {
	color: white;
	top: 20px;
	position: absolute;
}

/* =================================== Scoreboard Section =================================== */

#scoreboard {
	height: 50%;
	border-top: 5px solid black;
}

.scorecard {
	display: flex;
	flex-direction: column;
	background-color: floralwhite;
	border: 2px solid chartreuse;
}

.scorecard__half {
	display: flex;
}

.player__header {
	padding-top: 10px;
	width: 100%;
	color: black;
	text-align: center;
}

.player__header h3 {
	margin-bottom: 0;
}

.player__card--contents {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
}

.left-section {
  width: 40%;
}

.right-section {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 2em;
  color: black;
  font-size: 18px;
}

.player__name {
	color: maroon;
}

.avatar__container {
	max-height: 100%;
	width: 100%;
}

.player__avatar {
	height: 150px;
	width: 150px;
	border-radius: 20px;
	border: solid 3px turquoise;
}

.player__stats {
	flex-direction: column;
	background-color: pink;
}

/* =================================== Character Selection Modal =================================== */

/*.charselect__screen {
	display: flex;
}*/

.charselect__header {
	text-align: center;
	margin-bottom: 10px;
}

.charselect__contents {
	display: flex;
	width: 100%;
	margin-bottom: 12px;
}

.charselect__section {
	flex-direction: column;
	width: 25%;
	transition: transform 0.7s;
}

.charselect__section > div {
	margin: 15px 0;
}

.charselect__section > p {
	font-size: 17px;
}

.charselect__section:hover{
	transform: scale(1.1);
}

/* The Modal (background) */
.charselect__modal {
  display: hidden;  /* hidden to test; CHANGE BACK TO BLOCK later */
  position: fixed; /* Stay in place */
  z-index: 10; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: hidden;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #C0C0C0	; /* #fefefe */
  margin: 8% auto; /* 8% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  display: flex;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
