body {
	background-color: #f1f1f1;
	text-align: center;
}

.row {
	height: 10vh;
}

/* =================================== Game Board =================================== */

#game-title {
	font-family: 'PT Sans Caption', sans-serif;
	margin: 5px 0 0 0;
	/*padding-top: 5px;*/
}

.rainbow__text {
  	/*background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);*/
  	background-image: linear-gradient(to left, blue, green, yellow, red);
  	-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gameboard__space {
	max-height: 10vh;
	position: relative;
	opacity: 0.8;
	border: 2px solid white;
	line-height: 68.59px;
	color: white;
	overflow: hidden;
}

#centerboard {
	background-color: #f1f1f1;
	height: 80vh;
	border: 2px solid white;
	z-index: 2;

	color: #f1f1f1;
	/*background-image: url('../images/landingpage-background.jpg');*/
	background-size: cover;
}

.green {
	background-color: green;
/*	background-size: cover;
	background-image: 
    linear-gradient(
      rgba(0, 255, 0, 0.7), 
      rgba(0, 255, 0, 0.7)
    ),
    url("../rightarrow.png");
    background-position: center;*/
}

.red {
	background-color: red;	
/*	background-size: cover;
	background-image: 
    linear-gradient(
      rgba(255, 0, 0, 0.7), 
      rgba(255, 0, 0, 0.7)
    ),
    url("../backward.png");
    background-position: center;*/
}

.yellow {
	background-color: goldenrod;
/*	background-size: cover;
	background-image: 
    linear-gradient(
      rgba(255, 255, 0, 0.5), 
      rgba(255, 255, 0, 0.5)
    ),
    url("../goldbar.jpg");
    background-position: center;*/
}

.blue {
	background-color: blue;
/*	background-size: contain;
	background-image: 
    linear-gradient(
      rgba(0, 0, 255, 0.5), 
      rgba(0, 0, 255, 0.5)
    ),
    url("../mart.jpg");
    background-position: center;*/
}

/* =================================== Game Pieces =================================== */

#star {
	max-height: 50%;
	max-width: 50%;
	z-index: 5;
	position: absolute;
	bottom: 0;
	right: 0;
}

.player__icon {
	max-height: 50%;
	max-width: 50%;
	border-radius: 10px;
}

/* =================================== Dice Board Section =================================== */

#diceboard {
	height: 43%;
	border-top : 3px solid #f1f1f1;
	color: #f1f1f1;
	display: flex;
}

.dice__container {
	/*margin: 0 15px;*/
	display: flex;
	align-items: center;
	justify-content: center;

	width: 20%;
}

.dice__image {
	height: 120px;
	width: 120px;
	border-radius: 22px;
}

/* Taken from w3schools shake image example */
@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

/* =================================== Result Message Section =================================== */

.resultmessage__container {
	align-items: center;
	/*justify-content: center;*/
	text-align: center;
	width: 35%;
	border-left: 3px solid #f1f1f1;
	display: flex;
	font-size: 1.5em;
	padding: 1.5em;
	flex-direction: column;
}

.resultmessage_container > p {
	margin: auto;
	align-self: center;
	width: 100%;
	/*font-size: 40px;*/
}


/* =================================== Roll Button Section =================================== */

#turnCounter {
	top: 35px;
	position: absolute;
}

.rollbutton__container {
	border-left: 3px solid #f1f1f1;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	position: relative;
	width: 25%;
}

.btn-info {
	transition: transform 0.6s;
	border: 1px solid #f1f1f1;
}

.btn-info:hover {
	transform: scale(1.1);
}



/* =================================== Scoreboard Section =================================== */

#scoreboard {
	height: 47%;
	border-top: 3px solid #f1f1f1;
}

.scorecard {
	display: flex;
	flex-direction: column;
}

.scorecard:first-child {
	border-right: 3px solid #f1f1f1;
}

.scorecard__half {
	display: flex;
}

.player__header {
	padding-top: 10px;
	width: 100%;
	text-align: center;
}

.player__header h3 {
	margin-bottom: 0;
}

.player__card--contents {
  	width: 100%;
  	height: auto;
  	display: flex;
  	align-items: center;
}

.left-section {
  	width: 40%;
}

.right-section {
  	width: 60%;
  	height: 100%;
  	display: flex;
  	flex-direction: column;
  	justify-content: center;
  	padding-top: 2em;
  	font-size: 18px;
}

.avatar__container {
	max-height: 100%;
	width: 100%;
}

.player__avatar {
	height: 150px;
	width: 150px;
	border-radius: 20px;
	border: solid 3px #f1f1f1;
}

.player__stats {
	flex-direction: column;
	background-color: pink;
}

/* =================================== Character Selection Modal =================================== */

/*.charselect__screen {
	display: flex;
}*/

.charselect__header {
	text-align: center;
	margin-bottom: 10px;
}

.charselect__contents {
	display: flex;
	width: 100%;
	margin-bottom: 12px;
}

.charselect__section {
	flex-direction: column;
	width: 25%;
	transition: transform 0.7s;
}

.charselect__section > div {
	margin: 15px 0;
}

.charselect__section > p {
	font-size: 17px;
}

.charselect__section:hover{
	transform: scale(1.1);
}

/* The Modal (background) */
.modal {
  	display: block;
  	position: fixed; /* Stay in place */
  	z-index: 10; /* Sit on top */
  	left: 0;
  	top: 0;
  	width: 100%; /* Full width */
  	height: 100%; /* Full height */
  	overflow: hidden;
  	background-color: rgb(0,0,0); /* Fallback color */
  	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
 	background-color: #C0C0C0	; /* #fefefe */
  	margin: 8% auto; /* 8% from the top and centered */
  	padding: 20px;
  	border: 3px solid #f1f1f1;
  	width: 80%; /* Could be more or less, depending on screen size */
  	display: flex;
  	border-radius: 50px;

	color: #f1f1f1;
	background-image: url('../images/landingpage-background.jpg');
	background-size: cover;
}

/* =================================== Landing Page Modal =================================== */

.landingpage__modal {
	z-index: 11; 
 	display: block;  /* none to test; CHANGE BACK TO BLOCK later */
}

.landingpage__header {
	text-align: center;
	margin-bottom: 10px;
}
.landingpage__contents {
	display: flex;
	width: 100%;
	margin-bottom: 12px;
}

.landingpage__contents > p{
	width: 100%;
}

.btn-light {
	margin-bottom: 10px;
	transition: transform 1s;
}

.btn-light:hover {
	transform: scale(1.2);
}

/* ========================================================================================== */

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}



