body {
	background-color: #f1f1f1;
	color: white;
	text-align: center;
	line-height: 68.59px;
}

.row {
	height: 10vh;
}

.col-1 {
	height: 10vh;
	position: relative;
}

#centerboard {
	background-color: grey;
	height: 80vh;
	border: 2px solid white;
}

.green {
	background-color: green;
	opacity: 0.8;
	border: 2px solid white;
/*	background-size: cover;
	background-image: 
    linear-gradient(
      rgba(0, 255, 0, 0.7), 
      rgba(0, 255, 0, 0.7)
    ),
    url("../rightarrow.png");
    background-position: center;*/
}

.red {
	background-color: red;
	opacity: 0.8;
	border: 2px solid white;	
/*	background-size: cover;
	background-image: 
    linear-gradient(
      rgba(255, 0, 0, 0.7), 
      rgba(255, 0, 0, 0.7)
    ),
    url("../backward.png");
    background-position: center;*/
}

.yellow {
	background-color: goldenrod;
	opacity: 0.8;
	border: 2px solid white;	
/*	background-size: cover;
	background-image: 
    linear-gradient(
      rgba(255, 255, 0, 0.5), 
      rgba(255, 255, 0, 0.5)
    ),
    url("../goldbar.jpg");
    background-position: center;*/
}

.blue {
	background-color: blue;
	opacity: 0.8;
	border: 2px solid white;	
/*	background-size: contain;
	background-image: 
    linear-gradient(
      rgba(0, 0, 255, 0.5), 
      rgba(0, 0, 255, 0.5)
    ),
    url("../mart.jpg");
    background-position: center;*/
}

#star {
	max-height: 50%;
	max-width: 50%;
	z-index: 5;
	/*float: right;*/
	position: absolute;
	bottom: 0;
	right: 0;
}

.pIcon {
	max-height: 50%;
	max-width: 50%;
	overflow: hidden;
	/*float: left;*/
	/*position: absolute;*/
	/*top: 0;*/
}
